ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .box {
    /* width: ; */
    height: 300px;
    justify-content: center;
    
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .block {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  .submit-btn {
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #4CAF50;
    border-color: #111;
    color: #fff;
  }